/* ====================================================================== 通用 ====================================================================== */

@font-face {
    font-family: "ElaineSans";
    src: local("ElaineSans Black"),
        local("ElaineSans-Black"),
        url(../font/ElaineSans-Black.ttf);
    font-weight: Black;
}


h1 {
    font-size: 4.2rem;
    font-family: "jf-jinxuan";
}

html,
body {
    font-size: 10px;
    font-family: "roboto", "微軟正黑體";
}

a {
    color: #333333;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2rem;
    line-height: 39px;
    font-weight: 400;
}

p,
li {
    font-size: 2rem;
    line-height: 39px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

li span {
    font-size: 2rem;
}

span {
    font-size: 1.6rem;
    line-height: 33px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol,
li {
    padding: 0;
    margin-bottom: 2rem;
}

ol {
    margin-left: 3rem;
}

img {
    width: 100%;
}

.container-l {
    width: 1740px;
    max-width: 1740px;
    margin: 0 auto;
}

.container-m {
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
}

.container-s {
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
}

.container-xs {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}

/* ====================================================================== 顯示與隱藏 ====================================================================== */
.display-1470 {
    display: none;
}

.display-1400 {
    display: none;
}

.display-1200 {
    display: none;
}

.display-992 {
    display: none;
}

.display-768 {
    display: none;
}

.display-600 {
    display: none;
}

.display-576 {
    display: none;
}

.display-480 {
    display: none;
}

/* ====================================================================== 色彩 ====================================================================== */
:root {
    --one-color: #004AF9;
    --two-color: #A8FC03;
    --three-color: #333333;
    --four-color: #ffffff;
    --five-color: ;
    --font-color: ;
}

.color-red {
    color: #C3002F;
}

.color-green {
    color: #C3002F;
}

/* ====================================================================== 按鈕 ====================================================================== */
.btn-groups {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    position: relative;
    transition: 0.3s ease;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    color: #fff;
    background: var(--one-color);
    border-radius: 0px 20px 0 20px;
}

.btn-one {
    background-color: var(--one-color);
}

.btn-two {
    background-color: var(--two-color);
}

.btn-three {
    background-color: #000;
}

.btn-four {
    background-color: #aaa;
}

.btn-four:hover {
    background-color: #aaa !important;
}

.btn:hover {
    color: #333;
    background: var(--three-color);
}

.btn-100 {
    width: 100%;
}

.btn-l {
    width: 22rem;
    font-size: 2rem;
    line-height: 4.5rem;
}

.btn-m {
    width: 15rem;
    padding: 0 2rem;
}

.btn-s {
    line-height: 4.5rem;
    padding: 0 2rem;
}

.btn-float {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
}

.btn-g {
    background: var(--two-color);
}

/* ====================================================================== table ====================================================================== */
table,
tbody {
    width: 100%;
}

.table .tr {
    display: flex;
    justify-content: space-between;
    border: 0;
    line-height: initial;
}

th {
    font-weight: bolder;
    color: #333;
    font-size: 2.6rem;
    padding: 2.5rem 0;
}

td {
    padding: 2.175rem 0;
    font-size: 1.6rem;
    background: #fff;
}

tr:last-child {
    border: none !important;
}

.t15 {
    width: 15%;
}

.t25 {
    width: 25%;
}

.t75 {
    width: 75%;
}

.t85 {
    width: 85%;
}

.name {
    width: 75%;
}

.score {
    width: 25%;
}

.t-feat {
    width: calc(100% - 80px);
}

label {
    font-size: 1.6rem;
    font-weight: 900;
}

.form-control {
    padding: 0 1rem;
    font-size: 1.6rem;
    height: 4.5rem;
    margin-bottom: 3rem;
    border-radius: 0;
}

.form-check-inline {
    margin-right: 2rem;
}

/* ====================================================================== distant ====================================================================== */
.mb-5 {
    margin-bottom: 5rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.mb-12 {
    margin-bottom: 12rem;
}

/* ====================================================================== header ====================================================================== */
.navbar {
    background: transparent;
    padding: 0rem;
    padding-top: 5rem;
}

a.navbar-brand div {
    font-size: 3.2rem;
    font-weight: bold;
    color: #fff;
    transition: 0.3s ease;
}

a.navbar-brand div:hover {
    transform: scale(1.05);
}

li.nav-item {
    padding-left: 7rem;
    font-size: 1.6rem;
    transition: 0.3s ease;
}

li.nav-item a:hover {
    transform: scale(1.05) !important;
    color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link a:hover {
    transform: scale(1.05);
    color: #ffffff;
}

a.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

/* ====================================================================== footer ====================================================================== */

.footer-block {
    background: var(--two-color);
    line-height: 6rem;
}

.footer-group {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    font-size: 1.6rem;
}


/* ====================================================================== modal ====================================================================== */
.modal-header {
    padding: 1.5rem 1.75rem;
}

.modal-body {
    padding: 1rem 1.75rem;
}

.modal-body p {
    margin-bottom: 0.5rem;
}

.modal-footer {
    justify-content: center;
    padding: 1.5rem 0;
}

.modal-footer button {
    margin: 0 0.5rem;
}

/* ====================================================================== 浮動Top ====================================================================== */
#button {
    display: inline-block;
    background-color: var(--two-color);
    width: 70px;
    height: 70px;
    border-radius: 99px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #ffffff;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#button.show i,
#button.show span {
    font-size: 1.6rem;
}

a#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a#button span {
    line-height: normal;
}

/* ====================================================================== sp ====================================================================== */
.sp-1 {
    margin-top: 20rem;
    color: #fff;
    position: relative;
}

.sp-1::after {
    content: "";
    width: 10rem;
    height: 1px;
    background: #ffffff;
    display: block;
    position: absolute;
    left: 25.5rem;
    bottom: 7px;
}

/* span.sp-2 {
    display: inline-block;
} */

.sp-2 img {
    height: 10rem;
    width: auto;
    margin-right: 2rem;
}

.sp-3 {
    font-family: "ElaineSans";
    font-size: 12rem;
    color: #fff;
}

.sp-4 {
    margin-top: 3.5rem;
    width: 85rem;
    color: #fff;
}

.sp-4 h4 {
    line-height: 4rem;
    font-weight: 400;
}

.sp-5 {
    width: 100% !important;
}

.sp-6 {
    height: 40rem;
    background-image: url(../images/work-01.jpg);
    background-position: center center;
    background-size: cover;
}

.sp-7 {
    width: 30rem;
    height: 30rem;
    border-radius: 99rem;
}

.content-title.sp-7 img {
    border-radius: 99rem;
}

.sp-8 {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.sp-9 {
    color: #ffffff;
    margin: 0rem 0 0 5rem;
}

.sp-10 {
    display: flex;
    flex-direction: column;
}

.sp-11 {
    display: flex;
    margin-bottom: 2rem;
}

.sp-11:last-child {
    margin-bottom: 0rem;
}

.sp-12 {
    width: 5rem;
    margin: 1rem 3rem 0 0;
}

.sp-12 img {
    width: 5rem;
}

.sp-13 p {
    font-size: 1.6rem;
    line-height: 33px;
}

.sp-14 {
    width: 10rem;
    margin: 1rem 3rem 0 0;
}

.sp-14 img {
    width: 10rem;
}

.sp-15 {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: 1rem;
    border-radius: 99px;
}

.sp-17 {
    text-align: right;
}

.sp-18 {
    margin-top: -30rem;
}

.sp-19 {
    display: flex;
    flex-wrap: wrap;
}

.sp-19 .separate-2-item {
    margin-bottom: 3rem;
}

.sp-20 img {
    width: 12rem;
}

.sp-20 .separate-3-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.sp-20 .separate-3-item p {
    color: #8B7C53;
    font-weight: bold;
    margin-top: 5rem;
}

.sp-21 {
    padding: 10rem 0;
    background: #333333;
    color: #ffffff;
}

.sp-22 {
    margin-top: 2rem;
}

.sp-27 .content-title:before{
    display: none !important;
}

.sp-28 {
    line-height: 3.6rem;
}

.sp-29 {
    margin: 2.5rem 0 3rem;
    display: flex;
    align-items: center;
}

.sp-red {
    background: #EE0412;
}

.sp-yellow {
    background: #F4D45F;
}

.sp-green {
    background: #09873E;
}

.sp-blue {
    background: #2E5AF0;
}

.sp-purple {
    background: #874ED8;
}

.sp-black {
    background: #1A1A1A;
}

/* ====================================================================== RWD ====================================================================== */
@media(max-width:1800px) {
    .container-l {
        width: 95%;
    }
}

@media(max-width:1740px) {}

@media(max-width:1500px) {
    .container-m {
        width: 90%;
    }
}

@media(max-width:1450px) {

    /* ===== 通用===== */
    .displaynone-1400 {
        display: none;
    }

}

@media(max-width:1400px) {

    /* ===== 通用 =====*/
    .displaynone-1400 {
        display: none;
    }

    .display-1400 {
        display: block;
    }
}

@media(max-width:1360px) {
    /* ===== 通用 ===== */

}

@media(max-width:1280px) {

    /* ===== 通用 ===== */
    .display-1280 {
        display: block;
    }

    .displaynone-1280 {
        display: none;
    }

    .sp-4 h4 {
        font-size: 1.8rem;
        line-height: 36px;
    }
}

@media(max-width:1200px) {

    /* ===== 通用 ===== */
    .display-1200 {
        display: block;
    }

    .displaynone-1200 {
        display: none;
    }

    /* ===== header ===== */
    .header-btm .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .navbar-toggler {
        padding: .25rem 2rem;
    }

    .navbar-light .navbar-toggler {
        font-size: 2.4rem;
        border: none;
        filter: invert(1);
        opacity: 1;
    }

    .navbar-nav {
        border-top: 1px solid #E2E2E2;
        margin: 2rem 0 0;
    }

    li.nav-item {
        margin: 1rem 0;
        text-align: center;
        padding: 1rem 0;
    }

    div#output {
        margin-top: -3rem;
    }

    /* ===== sp =====*/
    .sp-1 {
        margin-top: 12rem;
    }

    .sp-2 img {
        height: 7rem;
    }

    .sp-3 {
        font-size: 8rem;
    }

    .sp-9 {
        color: #ffffff;
        margin: 4rem 0 0 0;
    }

    .sp-17 {
        text-align: left;
    }

    .sp-18 {
        margin-top: -20rem;
    }

    .sp-29 {
        margin: 2.5rem 0 4rem;
    }
}

@media(max-width:992px) {

    /* ===== 通用 =====*/
    .display-992 {
        display: block;
    }

    .displaynone-992 {
        display: none;
    }

    .container-xs {
        width: 90%;
    }

    /* ===== header ===== */
    .navbar {
        padding-top: 3rem;
    }

    /* ===== distant =====*/
    .mb-8 {
        margin-bottom: 6rem;
    }

    .mb-10 {
        margin-bottom: 6rem;
    }

    .mb-12 {
        margin-bottom: 6rem;
    }

    /* ===== sp =====*/
    .sp-2 img {
        width: auto!important;
    }
    .sp-4 {
        margin-top: 3.5rem;
        width: 100%;
    }

    /* .sp-20 img {
        width: 8rem;
    } */

    .sp-20 .separate-3-item p {
        margin-top: 2rem;
    }

}

@media(max-width:768px) {

    /* ===== 通用 =====*/
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    p,
    li {
        font-size: 1.6rem;
        line-height: 33px;
    }

    li span {
        font-size: 1.6rem;
    }

    .displaynone-768 {
        display: none !important;
    }

    .display-768 {
        display: block !important;
    }

    /* ===== sp =====*/
    .sp-14 img {
        width: 6rem;
    }

    .sp-16 {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ddd;
        padding-bottom: 4rem;
    }

    .sp-16 .separate-2-item {
        width: 100%;
    }

    .sp-18 {
        margin-top: -10rem;
    }

    .sp-23 {
        margin-top: 5rem;
    }

    .sp-24 {
        display: flex;
        flex-direction: column;
        padding-bottom: 0rem;
    }

    .sp-24 .separate-2-item {
        width: 100%;
    }
}

@media(max-width:600px) {

    /* ===== 通用 ===== */
    .display-600 {
        display: block;
    }
}

@media(max-width:576px) {

    /* ===== 通用 ===== */
    .display-576 {
        display: block !important;
    }

    .displaynone-576 {
        display: none !important;
    }

    .footer-item:first-child {
        display: none;
    }

    #button {
        width: 50px;
        height: 70px;
        bottom: 40px;
        right: 25px;
    }

    /* ===== distant =====*/
    .mb-8 {
        margin-bottom: 4rem;
    }

    .mb-10 {
        margin-bottom: 4rem;
    }

    .mb-12 {
        margin-bottom: 4rem;
    }

    /* ===== sp =====*/
    .sp-2 img {
        height: 5rem;
        margin-right: 1.25rem;
    }

    .sp-3 {
        font-size: 6rem;
    }

    .sp-4 {
        margin-top: 2.5rem;
        width: 100%;
    }

    .sp-6 {
        height: 25rem;
    }

    .sp-23 {
        margin-top: 2.5rem;
    }

    .sp-25 {
        width: 300%;
    }

    .sp-20 img {
        width: 6rem;
    }

    .separate-3.sp-20 {
        flex-direction: row;
    }

    .sp-21 {
        padding: 6rem 0;
    }

    .sp-28 {
        line-height: 3rem;
    }
}

@media(max-width:480px) {

    /* ===== 通用 =====*/
    .display-480 {
        display: block;
    }

    .displaynone-480 {
        display: none;
    }

    /* ===== header ===== */
    a.navbar-brand div {
        font-size: 2.6rem;
    }

    .navbar {
        padding-top: 2rem;
    }

    .navbar-light .navbar-toggler {
        padding: 0;
    }


    /* ===== sp =====*/
    h4.sp-1 {
        font-size: 1.6rem;
    }

    .sp-1::after {
        width: 6rem;
        left: 20.5rem;
        bottom: 10px;
    }

    .sp-26 {
        line-height: 20px;
        margin-top: 0.5rem;
    }
}

@media(max-width:420px) {
    .sp-18 {
        margin-top: -5rem;
    }
}

@media(max-width:380px) {}