.head-block {
    display: block;
    position: relative;
    height: 100dvh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.head-block .container-l {
    position: relative;
    height: 100%;
    /*加這個 */
    display: flex;
    /*加這個 */
    flex-direction: column;
    /*加這個 */
    justify-content: center;
    /*加這個，讓 banner-block 垂直置中 */
}

.header-block {
    position: absolute;
    /*加這個 */
    top: 0;
    /*加這個 */
    left: 0;
    /*加這個 */
    width: 100%;
    /*加這個 */
}

.me {
    display: inline-block;
}

h1.cursor {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
}

div#output {
    position: relative;
    padding: 1rem 2.25rem 1rem 2rem;
    min-height: 92px;
    display: inline;
    width: max-content;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.selection-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed #222;
    pointer-events: none;
}

/* 虛線外框 */
.selection-box::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    padding: 1rem;
}

/* 控制點基礎樣式 */
.handle {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    box-sizing: border-box;
    padding: auto;
}

/* 角落控制點 */
.handle.top-left {
    top: -6px;
    left: -6px;
}

.handle.top-right {
    top: -6px;
    right: -6px;
}

.handle.bottom-left {
    bottom: -6px;
    left: -6px;
}

.handle.bottom-right {
    bottom: -6px;
    right: -6px;
}

/* 邊緣中點控制點 */
.handle.top-center {
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.handle.bottom-center {
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.handle.left-center {
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.handle.right-center {
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
}

.top-design {
    position: relative;
}

.fontbk-1,
.fontbk-2,
.fontbk-3,
.fontbk-4,
.fontbk-5 {
    width: 10%;
}

.fontbk-1 {
    position: absolute;
    left: 0;
    top: 0;
}

.fontbk-2 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.fontbk-3 {
    position: absolute;
    right: 0;
    top: 0;
}

.fontbk-4 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.fontbk-5 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


/* ===== Banner ===== */
.banner-block {
    position: relative;
    overflow: hidden;
}

.banner-dename {
    position: relative;
}

.banner-dename::after {
    content: "";
    width: 10rem;
    height: 2px;
    background: #333333;
    display: block;
    position: absolute;
    left: 26rem;
    bottom: 11px;
}

.iam {
    font-size: 12rem;
    display: inline-block;
    margin: 3rem 0 2rem;
    font-weight: bold;
}

.banner-about {
    margin-top: 3.5rem;
    width: 85rem;
}

.banner-about h4 {
    line-height: 3.6rem;
    font-weight: 400;
}

.whatido-block {
    padding: 10rem 0 12rem;
}

.whatido-block h1,
.index-work-block h1 {
    margin-bottom: 3rem;
}

.whatido-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2.6rem;
    font-weight: bold;
    color: #222222;
}

h4.whatido-item {
    color: #777777;
}

/* ===== Index Work Block ===== */
.index-work-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index-work-item {
    width: 47.5%;
    margin-bottom: 9rem;
}

.index-work-item img {
    border: 1px solid #d0d0d0;
}

.index-work-item a {
    transition: 0.3s ease;
    width: 100%;
    display: block;
}

.index-work-item a:hover {
    transform: scale(1.01);
}

.index-work-item p {
    margin-bottom: 1.5rem;
}

.index-work-item.none{
    opacity: 0.5;
}

.index-work-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 1.5rem 0 0.5rem;
}

.work-tag-bk {
    padding: 0.25rem 1rem;
    position: relative;
    color: var(--font-color);
    border: 1px solid var(--border-color);
    display: inline-block;
    margin: 0 1rem 1rem 0;
    font-size: 1.4rem;
}

.work-tag-bk::after {
    position: relative;
    background: var(--one-color);
}

.circle-text {
    position: absolute;
    right: -8rem;
    bottom: -25rem;
    background-color: #22222230;
    border-radius: 99rem;
    padding: 3rem;
    width: 47.5rem;
    height: 47.5rem;
}

:root {
    --rotationDuration: 30s;
    --hoverDuration: 0.3s;
}

.link__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;

    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    word-spacing: 0.3em;

}

.link__arrow {
    transform-origin: 50% 50%;
    transition: transform var(--hoverDuration) / 2 var(--easeIn);
}

.link:hover .link__arrow {
    transform: scale(1.1);
    transition: transform var(--hoverDuration) var(--easeOut);
}

.link__arrow {
    stroke-width: 0.075em;
}

.link__text {
    animation: rotate normal infinite var(--rotationDuration) linear;
    transform-origin: 50% 50%;
}

.link:hover .link__text {
    animation-play-state: paused;
}

@keyframes rotate {
    to {
        transform: rotate(-360deg);
    }
}

textPath {
    font-size: 1.2rem;
    letter-spacing: 8.5px;
}

.index-work-item .work-tag {
    margin-bottom: 0;
}

/*================================================== RWD ==================================================*/
@media(max-width:1500px) {

    /*==================================================================================================== 1500px*/
    /* ===== Banner ===== */
}

@media(max-width:1280px) {

    /*==================================================================================================== 1280px*/
    /* ===== Banner ===== */

    h1.cursor {
        font-size: 5rem;
    }

    .banner-about h4 {
        font-size: 1.8rem;
        line-height: 36px;
    }

    .circle-text {
        padding: 2rem;
        width: 32.5rem;
        height: 32.5rem;
        transform: translateY(-50%);
        bottom: auto;
        top: 50%;
        right: -16rem;
    }

    div#output {
        min-height: 80px;
    }

    /* ===== Index Work Block ===== */

    .index-work-item p {
        margin: 0.5rem 0 1.5rem;
        font-size: 1.6rem;
    }

    .whatido-block {
        font-size: 2rem;
    }

    .whatido-group {
        flex-wrap: wrap;
        gap: 4rem 0;
    }

    h4.whatido-item {
        width: 50%;
    }
}

@media(max-width:1200px) {

    /*==================================================================================================== 1200 px*/
    /* ===== Banner ===== */
    .iam {
        font-size: 8rem;
        letter-spacing: -2px;
    }

    .navbar-light .navbar-toggler-icon {
        filter: invert(1);
        opacity: 1;
    }

    .index-work-item {
        margin-bottom: 6rem;
    }
}

@media(max-width:1080px) {

    /*==================================================================================================== 1080 px*/
    /* ===== Banner ===== */
    h1.cursor {
        font-size: 4rem;
    }

    div#output {
        min-height: 68px;
    }

    .whatido-block {
        font-size: 1.8rem;
        padding: 8rem 0;
    }
}

@media(max-width:992px) {

    /*==================================================================================================== 992 px*/
    /* ===== Banner ===== */
    .banner-about {
        margin-top: 3.5rem;
        width: 100%;
    }

    .whatido-block {
        padding: 5rem 0 7rem;
        flex-wrap: wrap;
    }

    .whatido-item {
        width: 50%;
    }

    /* ===== Index Work Block ===== */
    .index-work-item {
        margin-bottom: 6rem;
    }

    .circle-text {
        background-color: #22222210;

        width: 30rem;
        height: 30rem;
    }
}

@media(max-width:768px) {

    /*==================================================================================================== 768 px*/
    h4 {
        font-size: 1.6rem;
    }

    /* ===== Banner ===== */
    h1.cursor {
        font-size: 3rem;
    }

    div#output {
        min-height: 56px;
    }

    .banner-dename::after {
        width: 7rem;
        left: 20.5rem;
        bottom: 6px;
    }

    .circle-text {
        background-color: #22222210;
        width: 20rem;
        height: 20rem;
        padding: 1rem;
        transform: inherit;
        top: auto;
        bottom: -9rem;
        right: -6rem;
        opacity: 0.5;
    }

    /* ===== Index Work Block ===== */
    .whatido-group {
        flex-wrap: wrap;
        gap: 2.5rem 0;
    }

    .whatido-block h1,
    .index-work-block h1 {
        margin-bottom: 2rem;
    }

    .index-work-item {
        width: 100%;
    }

    .index-work-item .work-tag {
        margin-bottom: 0;
        padding-bottom: 0;
    }

}

@media(max-width:576px) {

    /*==================================================================================================== 576 px*/
    /* ===== Banner ===== */
    h1.cursor {
        font-size: 2.4rem;
    }

    div#output {
        min-height: 48.8px;
    }

    .banner-about {
        margin-top: 2.5rem;
        width: 100%;
    }

    .circle-text {
        width: 14rem;
        height: 14rem;
        bottom: -5rem;
        right: -5rem;
    }

    .whatido-block {
        font-size: 1.8rem;
        padding: 4rem 0 6rem;
    }

    .whatido-item {
        width: 45%;
    }

    .whatido-block h1,
    .index-work-block h1 {
        font-size: 2.6rem;
    }

    .index-work-item p {
        margin: 0.5rem 0 1rem;
        line-height: 26px;
    }

    .index-work-item {
        margin-bottom: 2rem;
    }

    .index-work-item span.work-tag-bk {
        margin-bottom: 1rem;
    }

    .work-tag span {
        margin-right: 0.5rem;
    }
}

@media(max-width:480px) {

    /*==================================================================================================== 480 px*/
    /* ===== Banner ===== */
    .banner-dename::after {
        width: 6rem;
        left: 20.5rem;
        bottom: 10px;
    }

    h4.banner-dename {
        font-size: 1.6rem;
    }

    .whatido-block h1,
    .index-work-block h1 {
        margin-bottom: 1rem;
    }
}

@media(max-width:420px) {

    /* ===== Index Work Block ===== */
    .index-work-title {
        font-size: 2rem;
    }

    .iam {
        font-size: 6rem;
    }
}

@media(max-width:380px) {

    /*==================================================================================================== 380 px*/
    /* ===== Banner ===== */

    h1.cursor {
        font-size: 2rem;
    }

    div#output {
        min-height: 44px;
    }

    .sp-8 {
        margin: 0;
    }
}