.work-bk {
    background-image: url(../images/work-bk.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.work-goal-item p,
.work-image-item p {
    line-height: 22px;
}

.work-goal-item p {
    color: rgba(255, 255, 255, 0.9);
}

/* ===== 距離 =====*/
.banner-block {
    margin-bottom: 4rem;
}

.work-head-block,
.work-content-block,
.design-block,
.all-img {
    margin-bottom: 8rem
}

.design-block-underimg {
    margin-bottom: 2rem
}

.title-big {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.title-middle {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.title-small {
    font-weight: bold;
    margin-bottom: 0.15rem;
}

.title-img {
    font-weight: bold;
    margin-bottom: 1rem;
}

.dis-btm-4rem {
    margin-bottom: 4rem !important;
}

.dis-btm-2rem {
    margin-bottom: 2rem !important;
}

/* ===== 重點訊息框 =====*/
.tip-group {
    display: flex;
    align-items: center;
    padding: 2.5rem;
}

.tip-group-plus {
    border: 1px solid var(--one-color);
    padding: 3rem 2.5rem;
}

.tip-group-plus-with-group {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.tip-group-plus-with-group-3 .tip-group-plus-with-item {
    width: 33.3%;
}

.tip-group-plus-with-group-2 .tip-group-plus-with-item {
    width: 50%;
}

.tip-group-plus-with-group .tip-group-plus-with-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.tip-group-plus-with-group.red .tip-group-plus-with-item {
    border: 1px solid var(--one-color);
}

.tip-group-plus-with-group.green .tip-group-plus-with-item {
    border: 1px solid var(--green-color);
}

.tip-group-plus-with-item img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    display: inline-block;
    margin-bottom: 1rem;
}

.tip-group img {
    width: 4rem;
    margin-right: 2rem;
}

.tip-group.red {
    background: var(--light-red-color);
}

.tip-group.red p {
    color: var(--one-color);
}

.tip-group.green {
    background: var(--light-green-color);
}

.tip-group.green p {
    color: var(--green-color);
}

.tip-group.yellow {
    background: #F2D948;
}

.tip-group.yellow p {
    color: #222222;
}

.tip-group.blue {
    background: #DFF3FC;
}

/* ===== 圖片分段 =====*/
.work-image-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.work-image-group-end {
    margin-bottom: 0;
}

.work-image-group.work-image-3 .work-image-item {
    width: 32.5%;
}

.work-image-group.work-image-2 .work-image-item {
    width: 48.5%;
}

/* ===== 解釋分段 =====*/
.work-explain-group {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2rem;
}

.work-explain-group.work-explain-3 .work-explain-item {
    width: 32.5%;
}

.work-explain-group.work-explain-2 .work-explain-item {
    width: 48.5%;
}

.work-explain-item {
    border: 1px solid var(--border-color);
    padding: 2rem;
}

.work-explain-item-image {
    border-radius: 5px;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.work-explain-item-image.red {
    background: var(--light-red-color);
}

.work-explain-item-image.green {
    background: var(--light-green-color);
}

.work-explain-item img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    display: inline-block;
}

/* ===== Banner =====*/

.banner-block {
    margin: 14rem 0 4rem 0;
}

/* ===== Head =====*/
.work-tag {
    font-size: 1.2rem;
    font-weight: 400;
}

.work-tag span {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 1.5rem;
    border: 1px solid var(--border-color);
    padding: 3px 8px;
    position: relative;
}

.work-name {
    margin-bottom: 4rem;
}

.work-name h4 {
    font-weight: 300;
    margin-top: 0.5rem;
}

.work-name p {
    margin-top: 0.5rem;
    line-height: 2.2rem;
}

.work-info-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin: 0 0 4rem 0;
    padding: 2.5rem 0;
}

.work-info-item {
    width: 48.5%;
}

.work-info-item h4 {
    margin-bottom: 0.5rem;
}

/* ===== 大數值呈現 =====*/
.work-bnumber-block {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 4rem 0;
}

.work-bnumber-item {
    width: 48.5%;
}

.work-bnumber-item.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-bnumber-item img {
    width: 14rem;
    height: 14rem;
    object-fit: contain;
}

.work-bnumber-item.img h5 {
    margin: 2rem 0 0.5rem;
}

.work-bnumber-item.img p {
    text-align: center;
}

.work-bnumber-item div:first-child {
    font-size: 5.4rem;
    font-weight: 500;
    color: var(--one-color);
    line-height: 5rem;
}

.work-bnumber-item span {
    font-size: 2.6rem;
    display: inline-block;
    padding-left: 0.5rem;
}

/* ===== Goal =====*/
.work-goal-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-goal-group-3 .work-goal-item {
    width: 33.3%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 0 2rem;
    background-position: center;
    background-size: cover;
}

.work-goal-group-ver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-goal-group-ver .work-goal-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-position: center;
    background-size: cover;
}

.work-goal-group-square {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.work-goal-group-square .work-goal-item {
    aspect-ratio: 1 / 1;
    width: 33.3%;
    object-fit: cover;
    object-position: center;
    height: auto;
    padding: 6rem 2rem 0;
}

/* ===== work-tab =====*/
.work-tab .nav-pills .nav-link {
    border-radius: 0rem;
    margin-right: 0rem;
    color: var(--font-color);
    background-color: var(--first-color);
    border: 1px solid var(--border-color);
    padding: 1rem 0rem;
    width: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #222222;
    color: #fff;
}

.work-tab .nav.nav-pills {
    display: flex;
    gap: 0 1%;
    margin: 1.5rem 0 0 0;
}

.work-tab li {
    width: 18.5%;
}

.work-tab li.nav-item {
    padding-left: 0;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.work-tab ul li img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    margin-right: 0.5rem;
}

.work-tab li.nav-item {
    border: transparent;
}

/* ===== People =====*/
.people-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.people-group-4 .people-item {
    width: 20%;
    text-align: center;
}

.people-info h5 {
    margin: 1.5rem 0 0rem;
}

.people-info p {
    line-height: 2.4rem;
}

/* ===== Reflection =====*/
.reflection-group li {
    margin-bottom: 2rem;
}

.reflection-group li.sp {
    margin-bottom: 0rem;
}

/* ===== About =====*/
.about-bk {
    height: calc(100vh - 60px);
}

.about-group {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    transform: translate(-50%, -50%);
    width: 90%;
}

.about-item:first-child {
    width: 20%;
}

.about-item:last-child {
    width: 75%;
}

.about-img {
    width: 30rem;
    height: 30rem;
    border-radius: 99rem;
}

.about-link {
    margin: 6rem 0 0 0;
}

.about-link a {
    font-size: 1.6rem;
    padding-right: 3rem;
}

.about-link a i {
    padding-right: 1rem;
}

video {
    width: 100%;
}

.work-sp-1 {
    height: 53px;
    padding-top: 2rem;
}

/*================================================== RWD ==================================================*/
@media(max-width:1450px) {

    /*==================================================================================================== 1450 px*/
    .about-link {
        margin: 4rem 0 0 0;
    }

    .about-item:first-child {
        width: 20%;
    }

    .about-item:last-child {
        width: 75%;
    }

    .about-img {
        width: 100%;
        height: 100%;
    }
}

@media(max-width:1200px) {

    /*==================================================================================================== 1200 px*/
    .banner-block {
        margin: 10rem 0 4rem 0;
    }

    .work-tab li.nav-item {
        padding: 0;
    }

    /* ===== About =====*/
    .about-bk {
        height: auto;
    }

    .about-section {
        padding: 10rem 0;
    }

    .about-group {
        flex-direction: column;
        align-items: center;
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0, 0);
        width: 100%;
    }

    .about-img {
        width: 100%;
        height: 100%;
        margin-bottom: 4rem;
    }

    .about-item:first-child {
        width: 35%;
    }

    .about-item:last-child {
        width: 100%;
    }
}

@media(max-width:992px) {

    /*==================================================================================================== 992 px*/
    .banner-block {
        margin: 2.5rem 0 4rem 0;
    }
}

@media(max-width:768px) {

    /*==================================================================================================== 768 px*/
    .dis-btm-4rem {
        margin-bottom: 3rem;
    }

    .work-head-block,
    .work-content-block,
    .design-block,
    .all-img {
        margin-bottom: 6rem;
    }

    .work-name p {
        margin-top: 0.15rem;
        line-height: 2.2rem;
    }

    .work-info-group {
        flex-direction: column;
        gap: 2rem;
    }

    .work-info-item {
        width: 100%;
    }

    .work-bnumber-item div:first-child {
        font-size: 3.2rem;
    }

    .tip-group {
        flex-direction: column;
        padding: 3rem 2.5rem;
        align-items: baseline;
    }

    .tip-group img {
        margin: 0 0 1rem 0;
    }

    .work-sp-1 {
        height: 49px;
        padding-top: 1.25rem;
    }

    .work-goal-group {
        flex-direction: column;
    }

    .work-goal-group-square .work-goal-item {
        aspect-ratio: inherit;
    }

    .work-goal-group-3 .work-goal-item {
        width: 100%;
        height: auto;
        padding: 2.5rem!important;
    }

    .work-explain-group.work-explain-3,
    .work-explain-group.work-explain-2 {
        flex-direction: column;
        gap: 2rem;
    }

    .work-explain-group.work-explain-3 .work-explain-item,
    .work-explain-group.work-explain-2 .work-explain-item {
        width: 100%;
    }

    .work-tab .nav.nav-pills {
        display: flex;
        justify-content: flex-start;
    }

    .work-tab li {
        width: 22.5%;
    }

    .people-group {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
    }

    .people-group-4 .people-item {
        width: 34%;
        margin-bottom: 0rem;
    }

    /* ===== About =====*/
    .about-item:first-child {
        width: 50%;
    }
}

@media(max-width:600px) {

    /*==================================================================================================== 600 px*/
    .banner-block {
        margin: 2rem 0 2rem 0;
    }

    .work-tab li {
        width: 30%;
    }
}

@media(max-width:576px) {

    /*==================================================================================================== 576 px*/
    .work-head-block,
    .work-content-block,
    .design-block,
    .all-img {
        margin-bottom: 4rem;
    }

    .work-tag span {
        margin-right: 5px;
        margin-bottom: 0.75rem;
        font-size: 1.2rem;
        padding: 0 8px;
    }

    .work-bnumber-item img {
        width: 10rem;
        height: 10rem;
    }

    .work-bnumber-block {
        flex-direction: column;
    }

    .work-bnumber-item {
        width: 100%;
    }

    .work-bnumber-item div:first-child {
        font-size: 4.8rem;
    }

    .work-image-item-p-item {
        margin-bottom: 1rem;
    }

    .tip-group-plus-with-group {
        flex-direction: column;
    }

    .tip-group-plus-with-group-3 .tip-group-plus-with-item,.tip-group-plus-with-group-2 .tip-group-plus-with-item {
        width: 100%;
    }

    .tip-group-plus-with-group .tip-group-plus-with-item {
        align-items: flex-start;
        text-align: left;
    }

    /* ===== About =====*/
    .about-link {
        margin: 4rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .about-link a {
        margin-bottom: 2rem;
    }

    .work-sp-1 {
        height: auto;
        padding-top: initial;
        font-size: 3.2rem;
    }
}

@media(max-width:480px) {

    /*==================================================================================================== 480 px*/

    .work-name {
        margin-bottom: 2.5rem;
    }

    .work-name h4 {
        line-height: 2.2rem;
    }

    .work-bnumber-block {
        gap: 3rem 0;
    }

    .work-tab li {
        width: 47.5%;
    }

    .about-link {
        margin: 4rem 0 0 0;
        display: flex;
        flex-direction: column;
    }

    /* ===== About =====*/
    .about-link a {
        font-size: 1.6rem;
        display: inline-block;
        margin-bottom: 1.5rem;
    }
}

@media(max-width:420px) {

    /*==================================================================================================== 420 px*/
    .tip-group {
        padding: 2rem;
    }

    .work-bnumber-block {
        gap: 2rem 0;
    }

    .work-goal-group-3 .work-goal-item {
        padding: 2rem;
    }

    .tip-group-plus {
    padding: 2rem;
}
}