.work-bk {
    background-image: url(../images/work-bk.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.work-goal-item p,
.work-image-item p {
    line-height: 22px;
}

.work-goal-item p {
    color: rgba(255, 255, 255, 0.9);
}

/* ===== 距離 =====*/
.banner-block {
    margin-bottom: 4rem;
}

.work-head-block,
.work-verview,
.work-brand-block,
.work-impact-block,
.work-problems-block,
.work-goal-block,
.work-research-block,
.design-block,
.all-img,
.finding-block,
.reflection-block {
    margin-bottom: 8rem
}

.design-block-underimg{
    margin-bottom: 2rem
}

.title-big {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.title-middle {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.title-small {
    font-weight: bold;
    margin-bottom: 0.15rem;
}

.title-img {
    font-weight: bold;
    margin-bottom: 1rem;
}

.dis-btm-4rem {
    margin-bottom: 4rem !important;
}

.dis-btm-2rem {
    margin-bottom: 2rem !important;
}

/* ===== 重點訊息框 =====*/

.tip-group {
    display: flex;
    align-items: center;
    padding: 2.5rem;
}

.tip-group img {
    width: 4rem;
    margin-right: 2rem;
}

.tip-group.red {
    background: var(--light-red-color);
}

.tip-group.red p {
    color: var(--one-color);
}

.tip-group.green {
    background: var(--light-green-color);
}

.tip-group.green p {
    color: var(--green-color);
}

/* ===== 圖片分段 =====*/
.work-image-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.work-image-group-end {
    margin-bottom: 0;
}

.work-image-group.work-image-3 .work-image-item {
    width: 32.5%;
}

.work-image-group.work-image-2 .work-image-item {
    width: 48.5%;
}

/* ===== 解釋分段 =====*/
.work-explain-group {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2rem;
}

.work-explain-group.work-explain-3 .work-explain-item {
    width: 32.5%;
}

.work-explain-group.work-explain-2 .work-explain-item {
    width: 48.5%;
}

.work-explain-item {
    border: 1px solid var(--border-color);
    padding: 2rem;
}

.work-explain-item-image {
    border-radius: 5px;
    padding: 1rem;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.work-explain-item-image.red {
    background: var(--light-red-color);
}

.work-explain-item-image.green {
    background: var(--light-green-color);
}

.work-explain-item img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    display: inline-block;
}

.work-explain-item p {
    line-height: 2.4rem;
}

/* ===== Banner =====*/

.banner-block {
    margin: 14rem 0 4rem 0;
}

/* ===== Head =====*/
.work-tag {
    font-size: 1.2rem;
    font-weight: 400;
}

.work-tag span {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 1.5rem;
    border: 1px solid var(--border-color);
    padding: 3px 8px;
    position: relative;
}

.work-name {
    margin-bottom: 4rem;
}

.work-name h4 {
    font-weight: 300;
    margin-top: 0.5rem;
}

.work-name p {
    margin-top: 0.5rem;
    line-height: 2.2rem;
}

.work-info-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin: 0 0 4rem 0;
    padding: 2.5rem 0;
}

.work-info-item {
    width: 48.5%;
}

.work-info-item h4 {
    margin-bottom: 0.5rem;
}

/* ===== Impact =====*/
.work-impact-group {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 4rem 0;
}

.work-impact-item {
    width: 48.5%;
}

.work-impact-item div:first-child {
    font-size: 5.4rem;
    font-weight: 500;
    color: var(--one-color);
    line-height: 5rem;
}

.work-impact-item span {
    font-size: 2.6rem;
    display: inline-block;
    padding-left: 0.5rem;
}

/* ===== Goal =====*/
.work-goal-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-goal-group-3 .work-goal-item {
    width: 33.3%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 0 2rem;
    background-position: center;
    background-size: cover;
}

.work-goal-group-ver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-goal-group-ver .work-goal-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-position: center;
    background-size: cover;
}

.work-goal-group-square {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-goal-group-square .work-goal-item {
    aspect-ratio: 1 / 1;
    width: 33.3%;
    object-fit: cover;
    object-position: center;
    height: auto;
    padding: 6rem 2rem 0;
}

/* ===== work-tab =====*/
.work-tab .nav-pills .nav-link {
    border-radius: 0rem;
    margin-right: 0rem;
    color: var(--font-color);
    background-color: var(--first-color);
    border: 1px solid var(--border-color);
    padding: 1rem 0rem;
    width: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--light-red-color);
}

.work-tab .nav.nav-pills {
    display: flex;
    justify-content: space-between;
}

.work-tab li {
    width: 18.5%;
}

.work-tab li.nav-item {
    padding-left: 0;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.work-tab ul li img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    margin-right: 0.5rem;
}

.work-tab li.nav-item {
    border: transparent;
}

/* ===== People =====*/
.people-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.people-group-4 .people-item {
    width: 20%;
    text-align: center;
}

.people-info h5 {
    margin: 1.5rem 0 0rem;
}

.people-info p {
    line-height: 2.4rem;
}

/* ===== Reflection =====*/
.reflection-group ul,
ol {
    margin: 0 0 0 -2rem;
}

.reflection-group li {
    margin-bottom: 2rem;
}

.reflection-group ul,
ol {
    margin: 0 0 0 -2rem;
}

.work-sp-1 {
    height: 53px;
    padding-top: 2rem;
}

@media(max-width:1200px) {

    /*==================================================================================================== 1200 px*/
    .banner-block {
        margin: 10rem 0 4rem 0;
    }

    .work-tab li.nav-item {
        padding: 0;
    }
}

@media(max-width:992px) {

    /*==================================================================================================== 992 px*/
    .banner-block {
        margin: 2.5rem 0 4rem 0;
    }
}

@media(max-width:768px) {

    /*==================================================================================================== 768 px*/
    .dis-btm-4rem {
        margin-bottom: 3rem;
    }

    .work-head-block,
    .work-verview,
    .work-impact-block,
    .work-problems-block,
    .work-goal-block,
    .work-research-block,
    .design-block,
    .all-img,
    .reflection-block {
        margin-bottom: 6rem;
    }

    .work-name p {
        margin-top: 0.15rem;
        line-height: 2.2rem;
    }

    .work-info-group {
        flex-direction: column;
        gap: 2rem;
    }

    .work-info-item {
        width: 100%;
    }

    .work-impact-item div:first-child {
        font-size: 3.2rem;
    }

    .tip-group {
        flex-direction: column;
        padding: 3rem 2.5rem;
        align-items: baseline;
    }

    .tip-group img {
        margin: 0 0 1rem 0;
    }

    .work-sp-1 {
        height: 49px;
        padding-top: 1.25rem;
    }

    .work-goal-group {
        flex-direction: column;
    }

    .work-goal-group-square .work-goal-item {
    aspect-ratio:inherit;
}

    .work-goal-group-3 .work-goal-item {
        width: 100%;
        height: auto;
        padding: 2.5rem;
    }

    .work-explain-group.work-explain-3, .work-explain-group.work-explain-2 {
        flex-direction: column;
        gap: 2rem;
    }

    .work-explain-group.work-explain-3 .work-explain-item, .work-explain-group.work-explain-2 .work-explain-item {
        width: 100%;
    }

    .work-tab .nav.nav-pills {
        display: flex;
        justify-content: flex-start;
    }

    .work-tab li {
        width: 22.5%;
        margin-right: 3.3%;
    }

    .work-tab li:nth-child(4n) {
        margin-right: 0%;
    }

    .people-group {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 3rem;
    }

    .people-group-4 .people-item {
        width: 34%;
        margin-bottom: 0rem;
    }
}

@media(max-width:600px) {

    /*==================================================================================================== 600 px*/
    .banner-block {
        margin: 2rem 0 2rem 0;
    }

    .work-tab li {
        width: 30%;
        margin-right: 5%;
    }

    .work-tab li:nth-child(4n) {
        margin-right: auto;
    }

    .work-tab li:nth-child(3n) {
        margin-right: 0%;
    }
}



@media(max-width:576px) {

    /*==================================================================================================== 576 px*/
    .work-head-block,
    .work-verview,
    .work-brand-block,
    .work-impact-block,
    .work-problems-block,
    .work-goal-block,
    .work-research-block,
    .design-block,
    .all-img,
    .finding-block,
    .reflection-block {
        margin-bottom: 4rem;
    }

    .work-tag span {
        margin-right: 5px;
        margin-bottom: 0.75rem;
        font-size: 1.2rem;
        padding: 0 8px;
    }

    .work-impact-group {
        flex-direction: column;
    }

    .work-impact-item {
        width: 100%;
    }

    .work-impact-item div:first-child {
        font-size: 4.8rem;
    }

    .work-image-item-p-item {
        margin-bottom: 1rem;
    }

    .work-sp-1 {
        height: auto;
        padding-top: initial;
        font-size: 3.2rem;
    }
}

@media(max-width:480px) {

    /*==================================================================================================== 480 px*/

    .work-name {
        margin-bottom: 2.5rem;
    }

    .work-name h4 {
        line-height: 2.2rem;
    }

    .work-impact-group {
        gap: 3rem 0;
    }

    .work-tab li {
        width: 47.5%;
        margin-right: 5%;
    }

    .work-tab li:nth-child(4n) {
        margin-right: auto;
    }

    .work-tab li:nth-child(3n) {
        margin-right: auto;
    }

    .work-tab li:nth-child(2n) {
        margin-right: 0%;
    }
}

@media(max-width:420px) {

    /*==================================================================================================== 420 px*/
    .tip-group {
        padding: 2rem;
    }

    .work-impact-group {
        gap: 2rem 0;
    }

    .work-goal-group-3 .work-goal-item {
        padding: 2rem;
    }
}